.index {
  flex-direction: column;
  width: 100%;
  .season-input-body {
    padding: 0 40px;
    .season-input-placeholder {
      border-bottom: 1px red solid;
    }
  }
}
.help-text {
  font-size: 26px;
}
.scrollview {
  margin-top: 30px;
}
.media-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
  background: aquamarine;
  box-shadow: rgba(0,0,0,.5)  0 2px 10px 0;
  .media-desc {
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    .media-name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .media-text {
      margin-bottom: 10px;
    }
  }
}
.media-list {
  margin-top: 20px;
}
.episode {
  display: flex;
  .cover {

  }
  .title {
    flex: 1;
    background: rgb(249,205,173);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 26px;
    padding: 20px;
  }
}
