.container {
  .header {
    display: flex;
    align-items: center;
    // background: red;
    .center-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .image-con {
      margin-right: 20px;
      border-radius: 22px;
      margin-left: 40px;
      // background: blue;
    }
    .login-button-wrapper {
      // background: yellow;
    }
    .avatar {
      width: 130px;
      height: 130px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 40px;
    }
  }
  .chart {
    padding: 30px;
    font-size: 30px;
  }
}
